<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhku.yiyi.project.system.mdRegistrationPool.mapper.MdRegistrationPoolMapper">
    
    <resultMap type="MdRegistrationPool" id="MdRegistrationPoolResult">
        <result property="mdNo"    column="MD_NO"    />
        <result property="mdName"    column="MD_NAME"    />
        <result property="totalNum"    column="TOTAL_NUM"    />
        <result property="hasFlag"    column="HAS_FLAG"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectMdRegistrationPoolVo">
        select MD_NO, MD_NAME, TOTAL_NUM, HAS_FLAG, status, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, remark from t_md_registration_pool
    </sql>
	
    <select id="selectMdRegistrationPoolList" parameterType="MdRegistrationPool" resultMap="MdRegistrationPoolResult">
        <include refid="selectMdRegistrationPoolVo"/>
        <where>  
            <if test="mdNo != null  and mdNo != '' "> and MD_NO = #{mdNo}</if>
             <if test="mdName != null  and mdName != '' "> and MD_NAME = #{mdName}</if>
             <if test="totalNum != null "> and TOTAL_NUM = #{totalNum}</if>
             <if test="hasFlag != null  and hasFlag != '' "> and HAS_FLAG = #{hasFlag}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and CREATE_BY = #{createBy}</if>
             <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and UPDATE_BY = #{updateBy}</if>
             <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectMdRegistrationPoolById" parameterType="String" resultMap="MdRegistrationPoolResult">
        <include refid="selectMdRegistrationPoolVo"/>
        where MD_NO = #{mdNo}
    </select>
        
    <insert id="insertMdRegistrationPool" parameterType="MdRegistrationPool">
        insert into t_md_registration_pool
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mdNo != null  and mdNo != ''  ">MD_NO,</if>
			<if test="mdName != null  and mdName != ''  ">MD_NAME,</if>
			<if test="totalNum != null  ">TOTAL_NUM,</if>
			<if test="hasFlag != null  and hasFlag != ''  ">HAS_FLAG,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">CREATE_BY,</if>
			<if test="createTime != null  ">CREATE_TIME,</if>
			<if test="updateBy != null  and updateBy != ''  ">UPDATE_BY,</if>
			<if test="updateTime != null  ">UPDATE_TIME,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mdNo != null  and mdNo != ''  ">#{mdNo},</if>
			<if test="mdName != null  and mdName != ''  ">#{mdName},</if>
			<if test="totalNum != null  ">#{totalNum},</if>
			<if test="hasFlag != null  and hasFlag != ''  ">#{hasFlag},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateMdRegistrationPool" parameterType="MdRegistrationPool">
        update t_md_registration_pool
        <trim prefix="SET" suffixOverrides=",">
            <if test="mdName != null  and mdName != ''  ">MD_NAME = #{mdName},</if>
            <if test="totalNum != null  ">TOTAL_NUM = #{totalNum},</if>
            <if test="hasFlag != null  and hasFlag != ''  ">HAS_FLAG = #{hasFlag},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">CREATE_BY = #{createBy},</if>
            <if test="createTime != null  ">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null  ">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where MD_NO = #{mdNo}
    </update>

	<delete id="deleteMdRegistrationPoolById" parameterType="String">
        delete from t_md_registration_pool where MD_NO = #{mdNo}
    </delete>
	
    <delete id="deleteMdRegistrationPoolByIds" parameterType="String">
        delete from t_md_registration_pool where MD_NO in 
        <foreach item="mdNo" collection="array" open="(" separator="," close=")">
            #{mdNo}
        </foreach>
    </delete>
    
</mapper>