<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhku.yiyi.project.system.supplierType.mapper.SupplierTypeMapper">
    
    <resultMap type="SupplierType" id="SupplierTypeResult">
        <result property="id"    column="id"    />
        <result property="typeNo"    column="TYPE_NO"    />
        <result property="typeName"    column="TYPE_NAME"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectSupplierTypeVo">
        select id, TYPE_NO, TYPE_NAME, status, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, remark from t_supplier_type
    </sql>
	
    <select id="selectSupplierTypeList" parameterType="SupplierType" resultMap="SupplierTypeResult">
        <include refid="selectSupplierTypeVo"/>
        <where>  

             <if test="typeNo != null  and typeNo != '' "> and TYPE_NO = #{typeNo}</if>
             <if test="typeName != null  and typeName != '' "> and TYPE_NAME = #{typeName}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and CREATE_BY = #{createBy}</if>
             <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and UPDATE_BY = #{updateBy}</if>
             <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectSupplierTypeById" parameterType="String" resultMap="SupplierTypeResult">
        <include refid="selectSupplierTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSupplierType" parameterType="SupplierType">
        insert into t_supplier_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="typeNo != null  and typeNo != ''  ">TYPE_NO,</if>
			<if test="typeName != null  and typeName != ''  ">TYPE_NAME,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">CREATE_BY,</if>
			<if test="createTime != null  ">CREATE_TIME,</if>
			<if test="updateBy != null  and updateBy != ''  ">UPDATE_BY,</if>
			<if test="updateTime != null  ">UPDATE_TIME,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="typeNo != null  and typeNo != ''  ">#{typeNo},</if>
			<if test="typeName != null  and typeName != ''  ">#{typeName},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateSupplierType" parameterType="SupplierType">
        update t_supplier_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeNo != null  and typeNo != ''  ">TYPE_NO = #{typeNo},</if>
            <if test="typeName != null  and typeName != ''  ">TYPE_NAME = #{typeName},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">CREATE_BY = #{createBy},</if>
            <if test="createTime != null  ">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null  ">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSupplierTypeById" parameterType="String">
        delete from t_supplier_type where id = #{id}
    </delete>
	
    <delete id="deleteSupplierTypeByIds" parameterType="String">
        delete from t_supplier_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>