<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhku.yiyi.project.system.ward.mapper.WardMapper">
    
    <resultMap type="Ward" id="WardResult">
        <result property="id"    column="id"    />
        <result property="wardNo"    column="WARD_NO"    />
        <result property="wardName"    column="WARD_NAME"    />
        <result property="mdNo"    column="MD_NO"    />
        <result property="mdName"    column="MD_NAME"    />
        <result property="useFlag"    column="USE_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectWardVo">
        select id, WARD_NO, WARD_NAME, MD_NO, MD_NAME, USE_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, remark from t_ward
    </sql>
	
    <select id="selectWardList" parameterType="Ward" resultMap="WardResult">
        <include refid="selectWardVo"/>
        <where>  

             <if test="wardNo != null  and wardNo != '' "> and WARD_NO = #{wardNo}</if>
             <if test="wardName != null  and wardName != '' "> and WARD_NAME = #{wardName}</if>
             <if test="mdNo != null  and mdNo != '' "> and MD_NO = #{mdNo}</if>
             <if test="mdName != null  and mdName != '' "> and MD_NAME = #{mdName}</if>
             <if test="useFlag != null  and useFlag != '' "> and USE_FLAG = #{useFlag}</if>
             <if test="createBy != null  and createBy != '' "> and CREATE_BY = #{createBy}</if>
             <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and UPDATE_BY = #{updateBy}</if>
             <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectWardById" parameterType="String" resultMap="WardResult">
        <include refid="selectWardVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWard" parameterType="Ward">
        insert into t_ward
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="wardNo != null  and wardNo != ''  ">WARD_NO,</if>
			<if test="wardName != null  and wardName != ''  ">WARD_NAME,</if>
			<if test="mdNo != null  and mdNo != ''  ">MD_NO,</if>
			<if test="mdName != null  and mdName != ''  ">MD_NAME,</if>
			<if test="useFlag != null  and useFlag != ''  ">USE_FLAG,</if>
			<if test="createBy != null  and createBy != ''  ">CREATE_BY,</if>
			<if test="createTime != null  ">CREATE_TIME,</if>
			<if test="updateBy != null  and updateBy != ''  ">UPDATE_BY,</if>
			<if test="updateTime != null  ">UPDATE_TIME,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="wardNo != null  and wardNo != ''  ">#{wardNo},</if>
			<if test="wardName != null  and wardName != ''  ">#{wardName},</if>
			<if test="mdNo != null  and mdNo != ''  ">#{mdNo},</if>
			<if test="mdName != null  and mdName != ''  ">#{mdName},</if>
			<if test="useFlag != null  and useFlag != ''  ">#{useFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateWard" parameterType="Ward">
        update t_ward
        <trim prefix="SET" suffixOverrides=",">
            <if test="wardNo != null  and wardNo != ''  ">WARD_NO = #{wardNo},</if>
            <if test="wardName != null  and wardName != ''  ">WARD_NAME = #{wardName},</if>
            <if test="mdNo != null  and mdNo != ''  ">MD_NO = #{mdNo},</if>
            <if test="mdName != null  and mdName != ''  ">MD_NAME = #{mdName},</if>
            <if test="useFlag != null  and useFlag != ''  ">USE_FLAG = #{useFlag},</if>
            <if test="createBy != null  and createBy != ''  ">CREATE_BY = #{createBy},</if>
            <if test="createTime != null  ">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null  ">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteWardById" parameterType="String">
        delete from t_ward where id = #{id}
    </delete>
	
    <delete id="deleteWardByIds" parameterType="String">
        delete from t_ward where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>