<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/shop/nav::header"></head>
<body>
<!------------------------------head------------------------------>
<div th:include="/shop/nav :: nav"></div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="/shop/index" class="fl">首页</a>
				<span>/</span>
				<a href="/shop/mygrxx" class="on">个人信息</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix" style="padding-bottom: 200px">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="/shop/img/tx.png"/></a>
						<p class="clearfix"><span class="fl">羊羊羊</span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="/shop/myorderq">我的购药</a></li>
							<li><a href="/shop/myorderq">预约挂号</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="/shop/address">地址管理</a></li>
							<li><a href="/shop/remima">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>个人信息</h2>
					<div class="gxin">
						<div class="tx"><a href="#"><img src="/shop/img/tx.png"/><p id="avatar">修改头像</p></a></div>
						<div class="xx">
							<h3 class="clearfix"><strong class="fl">基础资料</strong><a href="#" class="fr" id="edit1">编辑</a></h3>
							<div>姓名：六六六</div>
							<div>生日：1995-06-06</div>
							<div>性别：女</div>
							<h3>高级设置</h3>
							<!--<div><span class="fl">银行卡</span><a href="#" class="fr">管理</a></div>-->
							<div><span class="fl">账号地区：中国</span><a href="#" class="fr" id="edit2">修改</a></div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<!--遮罩-->
		<div class="mask"></div>
		<!--编辑弹框-->
		<div class="bj">
			<div class="clearfix"><a href="#" class="fr gb"><img src="/shop/img/icon4.png"/></a></div>
			<h3>编辑基础资料</h3>
			<form action="#" method="get">
				<p><label>姓名：</label><input type="text"  value="六六六" /></p>
				<p><label>生日：</label><input type="text"   /></p>
				<p>
					<label>性别：</label>
					<span><input type="radio"  />男</span>
					<span><input type="radio"   />女</span>
				</p>
				<div class="bc">
					<input type="button" value="保存"  />
					<input type="button" value="取消" />
				</div>
			</form>
		</div>
		<!--高级设置修改-->
		<div class="xg">
			<div class="clearfix"><a href="#" class="fr gb"><img src="/shop/img/icon4.png"/></a></div>
			<h3>切换账号地区</h3>
			<form action="#" method="get">
				<p><label>姓名：</label><input type="text"  value="六六六" /></p>
				<div class="bc">
					<input type="button" value="保存" />
					<input type="button" value="取消" />
				</div>
			</form>
		</div>
		<!--修改头像-->
		<div class="avatar">
			<div class="clearfix"><a href="#" class="fr gb"><img src="/shop/img/icon4.png"/></a></div>
			<h3>修改头像</h3>
			<form action="#" method="get">
				<h4>请上传图片</h4>
				<input type="button" value="上传头像" />
				<p>jpg或png，大小不超过2M</p>
				<input type="submit" value="提交" />
			</form>
		</div>

		<div th:include="/shop/nav :: footer"></div>
	</body>
</html>
