<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/shop/nav::header"></head>
<body>
<!------------------------------head------------------------------>
<div th:include="/shop/nav :: nav"></div>
		<!------------------------------搜索列表------------------------------>
		<div class="schBox">
			<ul class="wrapper sch">
				<li>
					<h4>干花类型：</h4>
					<a href="#">干花枝</a>
					<a href="#">干花包</a>
					<a href="#">花瓣</a>
					<a href="#">树叶</a>
				</li>
				<li>
					<h4>摆放空间：</h4>
					<a href="#">摆放花卉</a>
					<a href="#">落地花卉</a>
					<a href="#">挂壁花卉</a>
					<a href="#">吊篮花卉</a>
				</li>
				<li>
					<h4>干花类型：</h4>
					<a href="#">干花枝</a>
					<a href="#">干花包</a>
					<a href="#">花瓣</a>
					<a href="#">树叶</a>
				</li>
				<li>
					<h4>适用对象：</h4>
					<a href="#">朋友/同事</a>
					<a href="#">客户</a>
					<a href="#">爱人</a>
					<a href="#">领导/长辈</a>
				</li>
				<li>
					<h4>家居饰品：</h4>
					<a href="#">干花/干枝/花瓣</a>
					<a href="#">仿真花卉</a>
					<a href="#">花瓶</a>
					<a href="#">窗型花器</a>
				</li>
				<li>
					<h4>您是不是想找：</h4>
					<a href="#">干花花束</a>
					<a href="#">满天星干花</a>
					<a href="#">干花真花</a>
					<a href="#">干花花瓶</a>
					<a href="#">干花批发</a>
				</li>
			</ul>
		</div>
		<!-----------------address------------------------------->
		<div class="address">
			<div class="wrapper clearfix">
				<a href="/shop/index">首页</a>
				<span>/</span>
				<a class="on">搜索“干花”</a>
			</div>
		</div>
		<!-------------------current---------------------->
		<div class="current">
			<div class="wrapper clearfix">
				<h3 class="fl">搜索结果：“干花”</h3> 
				<div class="fr choice">
					<p class="default">排序方式</p>
					<ul class="select">
						<li>新品上市</li>
						<li>销量从高到低</li>
						<li>销量从低到高</li>
						<li>价格从高到低</li>
						<li>价格从低到高</li>
					</ul>
				</div>
			</div>
		</div>
		<!----------------proList------------------------->
		<ul class="proList wrapper clearfix">
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro01.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro02.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro03.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro04.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro05.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro06.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro07.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro08.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro01.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro02.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro03.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro04.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro05.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro06.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro07.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="proDetail.html">
					<dl>
						<dt><img src="/shop/img/temp/pro08.jpg"></dt>
						<dd>【最家】跳舞兰仿真花干花</dd>
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
		</ul>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!-------------------mask内容------------------->
		<div class="proDets">
			<img class="off" th:src="@{/shop/img/temp/off.jpg" />
			<div class="tit clearfix">
				<h4 class="fl">【最家】非洲菊仿真花干花</h4>
				<span class="fr">￥17.90</span>
			</div>
			<div class="proCon clearfix">
				<div class="proImg fl">
					<img class="list" th:src="@{/shop/img/temp/proDet.jpg"  />
					<div class="smallImg clearfix">
						<img src="/shop/img/temp/proDet01.jpg" data-th:src="@{/shop/img/temp/proDet01_big.jpg">
						<img src="/shop/img/temp/proDet02.jpg" data-th:src="@{/shop/img/temp/proDet02_big.jpg">
						<img src="/shop/img/temp/proDet03.jpg" data-th:src="@{/shop/img/temp/proDet03_big.jpg">
						<img src="/shop/img/temp/proDet04.jpg" data-th:src="@{/shop/img/temp/proDet04_big.jpg">
					</div>
				</div>
				<div class="fr">
					<div class="proIntro">
						<p>颜色分类</p>
						<div class="smallImg clearfix categ">
							<p class="fl"><img src="/shop/img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-th:src="@{/shop/img/temp/proBig01.jpg"></p>
							<p class="fl"><img src="/shop/img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草" data-th:src="@{/shop/img/temp/proBig02.jpg"></p>
							<p class="fl"><img src="/shop/img/temp/prosmall03.jpg" alt="20支快乐花" data-th:src="@{/shop/img/temp/proBig03.jpg"></p>
							<p class="fl"><img src="/shop/img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-th:src="@{/shop/img/temp/proBig04.jpg"></p>
						</div>
						<p>数量</p>
						<div class="num clearfix">
							<img class="fl sub" th:src="@{/shop/img/temp/sub.jpg">
							<span class="fl" contentEditable="true">1</span>
							<img class="fl add" th:src="@{/shop/img/temp/add.jpg">
							<p class="please fl">请选择商品属性!</p>
						</div>
					</div>
					<div class="btns clearfix">
						<a href="#2"><p class="buy fl">立即购买</p></a>
						<a href="#2"><p class="cart fr">加入购物车</p></a>
					</div>
				</div>
			</div>
			<a class="more" href="proDetail.html">查看更多细节</a>
		</div>
		<div th:include="/shop/nav :: footer"></div>

	</body>
</html>
